@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&f[]=clash-display@200,400,700,500,600,300&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #faf9f6;
  --color-primary: #1a5fff;
  --color-dark: #0a0a0a;
  --color-muted: #6b7280;
  --color-card: #ffffff;
  
  --radius-card: 20px;
  --radius-pill: 50px;

  --font-heading: "Clash Display", sans-serif;
  --font-body: "Satoshi", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-dark);
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
